extends ./layout/main.jade


block scripts
  script(src="scripts/signup.js")


block content
  div(class="ui page grid")
    div(class="column")
      h1 Sign Up

      form(class="ui form segment")
        h4(class="ui dividing header") Account Info
        div(class="two fields")
          div(class="required field")
            label Username
            div(class="ui icon input")
              input(type="text" id="username" placeholder="Username")
              i(class="user icon")

          div(class="required field")
            label Password
            div(class="ui icon input")
              input(type="password" id="password" placeholder="Password")
              i(class="lock icon")

        div(class="inline field")
          div(class="ui checkbox")
            input(type="checkbox" id="terms")
            label(for="terms") I agree to the Terms and Conditions

        div(class="ui submit button") Submit


